body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-header {
background-color: #D9C5B0;
padding: 50px;
display: flex;
flex-direction: row;
justify-content: space-between;
border-bottom: solid 2px #806556;
}

.header-description {
    font-size: xx-large;
}

ul {
    list-style-type: none;
    margin: 0;
    border: 1px solid #D9C5B0;
    align-self: flex-end;
}

li {
    float: left;
    border-right: 1px solid #D9C5B0;
    font-size: 20px;
}

li a {
    display: block;
    text-align: center;
    padding: 10px 12px;
    color: black;
}

li a:hover {
    background-color: #806556;
}

.flex-main {
    display: flex;
    flex-direction: column;
    background-color: #EDE7DC;
}

.inner {
    padding: 50px;
}

.head {
    float: left;
    width: 20%;
    text-align: right;
    font-size: x-large;
    font-weight: bold;
}

.body {
    float: right;
    width: 70%;
}

.flex-footer {
    display: flex;
    background-color: #D9C5B0;
    padding: 20px;
    border-top: solid 2px #806556;
}

